
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    padding: 5px 20px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 15px;
}
.card .card-block.dashboard{
    position: relative;
    padding: 0px 10px;
}
.card .card-block.dashboard i{
    position: absolute;
    left: -20px;
    bottom: -20px;
    font-size: 90px;
    opacity: 0.3;
    color: #FFF;
}
.card .card-block.dashboard h4{
    font-size: 22px;
}




.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
.table>tbody>tr>td {
    vertical-align: middle;
    color: #383a45;
    text-align: left;
}
.table>thead>tr>th {
    text-align: left;
}








